<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/basic.css}" />

<head>
<body>

<div class="jumbotron text-center">
  <h1 class="display-3">Welcome to URL Shortening Service!</h1>
  <p class="lead"><strong>New User?&nbsp; </strong><a th:href="@{/register}">Quick Register</a></p>
  <hr>
  <p class="lead">
  	<strong>Already registerd</strong>
  	<p>
    	<a class="btn btn-primary btn-sm" th:href="@{/userLogin}" role="button">Login here</a>
  </p>
</div>









</body>
</html>