<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/basic.css}" />

<head>
<body>
<h2><span style="text-align:center" class="badge badge-secondary">Welcome to URL Shortening service</span></h2>
<hr><br><br>
<h3>New User! Register below - </h3>
<a th:href="@{/users/register}" class="btn btn-primary  btm-sm mb-3">Register as new user</a>
<hr>
<br>

<div class="container">
	<p class="h4 mb4"> Exising User, Login </p>
 	<form action="#" th:action="@{/users/login}" method="POST">
			<input type="text"  name="email" placeholder="Email" class="form-control mb-4 col-4">
			<input type="text"  name="password" placeholder="Password" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Login </button>
	</form>
	<br>
	<p style="color:red" th:text="${loginError}"/>
</div>


</body>
</html>